/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
  background-color: black;
  font-size:62.5%;
  box-sizing: border-box;
}

.search input[type=text] {
  width: 320px;
  box-sizing: border-box;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  font-size: 16px;
  background-color:rgba(255, 255,255, 0.1);
  background-image: url('./assets/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  font-family:'Helvetica',Arial, sans-serif;
  letter-spacing: 1px;
  color:rgba(255,255,255,0.7);
  padding: 12px 20px 12px 40px;
  /* -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; */
}

/* .search input[type=text]:focus {
  width: 100%;
} */

.browse{
  text-decoration: none;
  color:white;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.featured{
  display: flex;
  flex-direction: column;
  width:100%;
  margin-top:70px;
  padding-top:30px;
  /* border:1px solid red; */
}

.newsbox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  height:480px;
  /* border:1px solid yellowgreen; */
  padding-top:15px;
}

.box{
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width: 790px;
  height: 400px;;
  border:1px solid rgba(255, 255,255, 0.1);
  background-image: url('./assets/crowd.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position-x: 25px;
}

.boxtext{
  display:flex;
  flex-direction: column;
  padding-top:130px;
}

.boxtext h2{
  color:white;
  font-size: 34px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  text-transform: uppercase;
  margin:20px 0px 0px 10px;
}

.box-1{
  display:flex;
  flex-direction: column;
  width: 100%;
  max-width: 380px;
  height: 400px;;
  border:1px solid rgba(255, 255,255, 0.1);
  
}

.box-1 h2{
  color:white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  margin:20px 0px 0px 10px;
}

.topvideo{
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: space-between;
  margin-top:-40px;
}

h2.main{
  color:white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  margin:20px 0px 0px 10px;
}

.video{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
  max-width:224px;
  height:180px;
  margin-top:15px;
  background-image: linear-gradient(179deg, transparent, #000);
  border:1px solid rgba(255,255,255,0.1);
}